@import "tailwindcss";

/* Masquer la scrollbar sur Chrome, Safari et Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Masquer la scrollbar sur IE, Edge et Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE et Edge */
  scrollbar-width: none; /* Firefox */
}
